body {
  text-align: center;
  background: #f1d6eb;
  font-family: Georgia, "Times New Roman", Times, serif;
}
main{
    margin-bottom: 20px;
}
h1 {
  color: #c24988;
  font-size: 36px;
  line-height: 1.5;
}

footer{
    text-align: center;
    font-size:12px;
    margin-top:30px;
}

.container {
  margin: 120px auto;
  max-width: 400px;
}
.form-container{
background-color: white;
margin-bottom: 20px;
 border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 5px 5px 5px #e68aba;
  text-align: left;
  color: #e68aba;
}
.form.form {
  display: flex;
}
.instructions {
  padding: 10px;
  border: 1px solid #f3eeee;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid rgb(188, 134, 64);
}
.submit-button {
  margin-left: 10px;
  background: #c24988;
  color: white;
  border: none;
  width: 150px;
  padding: 14px 20px;
  font-size: 16px;
  border-radius: 10px;
}

.haiku{
    font-size: 14px;
    background-color: white;
    padding: 20px;
    line-height: 1.5;
    border-left: 3px solid #c24988;
    border-right: 3px solid #c24988;
    border-radius: 3px;
}
.haiku strong{
    color:rgb(193, 71, 134);
}
.hidden{
    display: none;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.generating {
  animation: blink 1s step-start 0s infinite ease-in-out;
}